*
		{
		margin:0;
		padding:0;
		}

body
		{
		font-family: "Microsoft YaHei",Î¢ÈíÑÅºÚ,"Microsoft JhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;
		font-size:12px;
		height: 100%;
		}

strong
{
		font-family:'Î¢ÈíÑÅºÚ';
		font-size:14px;
		color:#000;
		font-weight:800;
}

body#homefirst div#maincontent, div#maincontent h1, div#maincontent h2, div#sidebar div#ad h2
		{
		font-family: "Microsoft YaHei",Î¢ÈíÑÅºÚ,"Microsoft JhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;
		}

h2, h3, h4, h5, h6, em
		{
		font-weight: bold;
		}

p.note span, p.important span, p.tip span, p.inherited, p.inherited span, p.gototop, .html5_new_note span
		{
		font-weight: bold;
		}

body#homesecond div#navsecond li
		{
		font-weight:bold;
		}

div#maincontent h1
		{
		font-size: 26px;
		font-weight:400;
		}

div#maincontent h2, div#sidebar div#ad h2, body#homefirst div#maincontent h3
		{
		font-size: 14px;
		}

div#navsecond h2, div#sidebar h2, div#maincontent h3,  div#maincontent h4
		{
		font-size: 12px;
		}

div#maincontent button, div#maincontent input, div#maincontent select, div#maincontent textarea
		{
		font-size:12px;
		}

body#homefirst div#maincontent div#w3 h2
		{
		font-size:20px;
		}

div#maincontent button
		{
		margin-top:15px;
		}




	/* ----------------------------------- layout ----------------------------------- */
html 	{ 
		min-width: 966px;
		background: #f9f9f9;
		overflow:scroll;
		overflow-x:hidden;
		}

body
		{
		text-align: center;
		margin: 0;
		padding: 0;
		border: 0;
		background: #f9f9f9;
		}

div#wrapper
		{
		margin: 0 auto;
		padding: 125px 0 0 0;
		border: 1px solid #888888;
		width: 1129px;
		height: 100%;
		text-align: left;
		border-radius:5px;
		box-shadow: 1px 1px 1px  #888888;
		}

div#maincontent
		{
		float: left;
		margin: 10px 0 10px 12px;
		padding: 0;
		border: 0px;
		border-radius:5px;
		width: 740px;
		background: white;
		min-height:700px;
		}


div#sidebar
		{
		float: left;
		margin: 10px 0 10px 10px;
		padding: 0;
		border: 0;
		border-radius:5px;
		width: 350px;
		min-height:700px;
		}

div#footer
		{
		clear: both;
		margin: 0;
		padding: 0;
		margin-left: 12px;
		width: 1100px;
		height: 46px;
		background: #b6b6b6;
		border-top: 10px solid #fff;
		border-bottom: 10px solid #fff;
		}

div#footer p
		{
		margin: 5px 10px 0 10px;
		}




	/* ----------------------------------- header ----------------------------------- */
div#header, div#header_index
		{
		margin: -125px 0 0 12px;
		border: 0;
		width: 1100px;
		height: 90px;
		background: DarkGray;
		}

div#header  a, div#header_index  a, div#header_index  h1
		{
		margin: 0;
		padding: 0;
		border: 0;
		overflow:hidden;
		}

div#header  a:link, div#header  a:visited
		{
		display: block;	
		width: 372px;
		height: 90px;
		background : DarkGray;
		margin: 0;
		padding: 0;
		border: 0;
		}

div#header  a:hover
		{
		background: DarkGray;
		}

div#header	div#ad_head
		{
		float:right;
		width:728px;
		height:90px;
		background-color:#efefef;
		}

div#header_index  a:link, div#header_index  a:visited
		{
		display: block;	
		width: 1100px;
		height: 90px;
		background : DarkGray;
		margin: 0;
		padding: 0;
		border: 0;
		}

div#header_index  a:hover
		{
		background : DarkGray;
		}

	/* ----------------------------------- index -----------------------------------*/

body#homefirst div#maincontent h3
		{
		margin-top:15px;
		}
div#fixed_head
		{
		position:fixed;
		z-index:99;
		}
	/* ----------------------------------- navfirst -----------------------------------*/
div#navfirst
		{
		text-align:center;
		height: 35px;
		width: 1100px;
		margin: 0 0 0 12px;
		border: 0;
		background: #fff;
		font-size: x-large;
		}

div#navfirst ul#menu
		{
		width: 1100px;
		background: white;
		position: relative;
		}

div#navfirst ul#menu li
		{
		list-style:none;
		float: left;
		}

div#navfirst ul#menu li a
		{
		margin-left: 30px;
		margin-right: 30px;
		overflow:hidden;
		text-decoration: none;
		color: gray;
		}
.menu-click
		{
		overflow:hidden;
		text-shadow:2px 2px 2px gray;
		}

div#navfirst ul#menu li a:HOVER
		{
		text-shadow:2px 2px 2px gray;
		}

	/* Default links */
a:link, a:visited {
	text-decoration : underline;
	color : #900b09;
	background : transparent; 
	}

a:hover {
	text-decoration : underline;
	color: #ff0000;
	background : transparent; 
	}

a:active {
	text-decoration : underline;
	color : #ff0000;
	background : transparent;  
	}

div#navsecond li.currentLink a:link, div#navsecond li.currentLink a:visited	{
	text-decoration : none;
	color:#ff0000;
	background : transparent;
	}

div#navsecond li.currentLink a:hover	{
	text-decoration : underline;
	color : #ff0000;
	background : transparent;
	}

div#navsecond a:link, div#navsecond a:visited	{
	text-decoration : none;
	color:#000;
	background : transparent;
	} 

div#navsecond a:hover	{
	text-decoration : underline;
	color : #000;
	background : transparent;
	}

div#navsecond a:active	{
	text-decoration : underline;
	color : #000;
	background : transparent;
	}

div#navsecond a#link_help {
	color:#0479A7;
	}

div#navsecond a#link_about {
	color:#0479A7;
	}

div#maincontent .partner a {
	color:#0479A7;
	}

div#footer a:link, div#footer a:visited	{
	text-decoration : none;
	color:#000;
	background : transparent;
	} 

div#footer a:hover	{
	text-decoration : underline;
	color : #000;
	background : transparent;
	}

div#footer a:active	{
	text-decoration : underline;
	color : #000;
	background : transparent;
	}


	/* ----------------------------------- Typography ----------------------------------- */

div#maincontent p
	{
	margin: 12px 0 0 0;
	line-height: 150%;
	}

div#maincontent h1	{
	margin:15px 0 0 15px;
	}

div#maincontent h3,  div#maincontent h4{
	margin:20px 0 0 0;
	}

div#navsecond h2, div#sidebar h2	{
	margin:10px 0 0 12px;
	}

body#homesecond div#navsecond li {
	margin:5px 0 0 0;
	}

div.backtoreference p{
	margin:0;
	}

div#w3school p {
	margin-left:15px;
	}

div#maincontent li {
	margin-top:3px;
	}

div#navsecond ul, div#navsecond li, div#sidebar ul, div#sidebar li	{
	margin: 0;
	padding: 0;
	}

div#navsecond ul, div#sidebar ul	{
	margin-left: 12px;
	}

div#navsecond li, div#sidebar li	{
	list-style: none;
	}

div#navsecond li.list_apart {
	margin-top:10px;
	}

img {
	border:0;
	}

div#maincontent img {
	margin:25px 0 0 25px;
	}

/* ----------------------------------- search form ----------------------------------- */
div#searchui
		{
		margin:15px 0 15px 5px;
		padding:0;
		}

div#searchui p
		{
		margin:0 0 5px 0;
		padding:0;
		}

#searchui label
		{
		margin:0 0 0 2px;
		text-transform:uppercase;
		letter-spacing:2px;
		font-size:11px;
		}

#searchui input.button
		{
		padding:0;
		margin:0;
		background:#AE4141;
		font:12px Verdana, Arial, Helvetica, sans-serif;
		color:#FFFFFF;
		width:25px;
		height:20px;
		}

#searchui input.box
		{
		margin:0 0 0 2px;
		width:135px;
		height:20px;
		background:#fdfdfd;
		font:12px Verdana, Arial, Helvetica, sans-serif;
		}
